.LayoutBreaker{
  margin-bottom: 1rem;
}

.cad{
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}


.cad:hover{
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

a{
  color: darkslategrey;
}

a:link{
  text-decoration: none;
}

a:hover{
  color: #ffde00
}

.rotate{
  transform: scaleX(-1)
}

br{
  margin-bottom: 20rem;
}

.buttonb {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
  color: var(--color-bg);
  background-color: #ffde00;
  color: grey;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0 5px var(--color-bg-d);
  /* transition for the hover and active states */
  transition: all 0.25s ease-out;
}

.FontFamilyN{
  font-family: Poppins;
}